<html>
    <head>
        <title>Analyze Me</title>
<style type="text/css">
  body {
     height: 100%;
     BACKGROUND-COLOR: #FFFFFF;
  }
  div.header {
    color: #0021F7;
    font-family:"Times New Roman", Times, serif;
    font-size:120px;
    BACKGROUND-COLOR: #FFFFFF;
    text-align: center;
    }
  div.header.floater {
    height: 50%;
    }
  div.wrapper {
    min-height:100%;
    height: auto;
    height: 100%;
    margin: 0 auto -30px;
    }
  div.footer {
    text-align: center;
    border-top: 1px solid #000;
    height: 30px;
    }
</style>
    </head>
    <body>
       <div class="wrapper">
       <div class="header">
       <img src="http://an.alyze.me/media/analyzeme.jpg"></img>
       </div>
       </div>
       <div class="footer">
       About Me . Beta . Contact chuaweeyoung [at] gmail.com . &copy; 2010 weeyoung
       </div>
    </body>

</html>
